---
import { Icon } from "astro-icon/components";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);

const socialLinks: {
	friendlyName: string;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Email",
		link: "mailto:onyishif@gmail.com",
		name: "mdi:email-outline",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/bytemerger",
		name: "mdi:github",
	},
	{
		friendlyName: "Linkedin",
		link: "https://www.linkedin.com/in/francis-onyishi-5a55791a0",
		name: "mdi:linkedin",
	},
];
---

<header class="group relative mb-16 flex items-center justify-between sm:ps-[.3rem]" id="main-header">
	<div class="flex sm:flex-col">
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-start gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-2 py-4 text-sm sm:py-0 hover:text-accent transition-colors"
						data-astro-prefetch
						href={link.path}
					>
						[{link.title.toLowerCase()}]
					</a>
				))
			}
		</nav>
	</div>
	<div class="flex items-center gap-4">
		<ul class="flex items-center gap-5">
			{
				socialLinks.map(({ friendlyName, link, name }) => (
					<li>
						<a
							class="inline-block text-gray-500 hover:text-textColor transition-colors"
							href={link}
							rel="noopener noreferrer"
							target="_blank"
							aria-label={friendlyName}
						>
							<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						</a>
					</li>
				))
			}
		</ul>
		<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
	</div>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
